.rowWrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centreBox {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 60%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centerHeading {
  text-align: center;
  padding-top: 1rem;
}

.button {
  padding: 0;
  font-weight: 700;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.gridItems {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 16px;
  font-size: 20px;
  text-align: center;
  color: black;
}

@media (max-width: 991px) {
  .centreBox {
    width: 80%;
    margin-top: 5rem;
    height: 40vh;
  }

  .centerHeading {
    padding: 1rem 1rem 0 1rem;
  }

  .gridContainer {
    grid-template-columns: auto;
  }

  .gridItems {
    padding: 8px;
    font-size: 16px;
  }
}
