@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: "Arima Madurai", cursive; */
  width: 100%;
  height: 100vh;
  background: url(../public/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-blend-mode: hard-light; */
  /* background-color: #336600 !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
